<html>
<head>
    <title>Label Printer</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        .form-actions{border-top:none;background-color:#ffffff;}
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Label printer</h1>
        </div>
        <div id="alert" class="alert">
            <strong>Heads up!</strong> This form works better if you enable Javascript.
        </div>
        <div class="row">
            <div class="span6">
                <form action="/print" method="post" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="name">Item name</label>
                        <div class="controls">
                            <input type="text" name="name" placeholder="Item name">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="desc">Description</label>
                        <div class="controls">
                            <textarea name="desc" placeholder="Description"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="owner">Owner</label>
                        <div class="controls">
                            <input type="text" name="owner" placeholder="TechInc">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="perms">Permissions</label>
                        <div class="controls">
                            <select name="perms">
                                <option>Hack</option>
                                <option>Hack non-destructively</option>
                                <option>Do not hack</option>
                                <option>Ask permission first</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions btn-group">
                        <button type="submit" name="submit"  id="print" class="btn btn-primary" data-loading-text="Printing..."><i class="icon-print icon-white"></i> Print</button>
                        <button type="button" class="btn" id="preview">Preview</button>
                    </div>
                </form>
            </div>
            <div class="span6" id="results">
                Explain form here.
            </div>
        </div>
    </div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
</body>
</html>